
<div style="background-color:rgb(245, 242, 242);margin: 16px;">

    <div style="background-color: white;padding: 16px;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>AddBrand</mat-card-title>
                <mat-card-subtitle>Create Your new Brand</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        
                        <input matInput placeholder="Brand Name" [(ngModel)]="brandName">
                        
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        
                        <input matInput placeholder="Brand Image URL" [(ngModel)]="brandImageUrl">
                        
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        
                        <input matInput placeholder="Brand EstablishedYear" [(ngModel)]="brandEstablishedYear">
                        
                    </mat-form-field>
                    
                      
                </div>
            </mat-card-content>
            <mat-card-actions>
                
                <button mat-button style="background-color: red;width: 70px;">Cancel</button>
            
                
                <button mat-button style="background-color: green;width: 70px"(click)="brandsave()" >Save</button>
               
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>